services:
	templateFactory: App\Factories\TemplateFactory(%appDir%, null)

	- App\Factories\RouterFactory
	- App\Factories\FormFactory
	- App\Factories\EmailMessageFactory
	- App\Factories\SelectionFactory(..., @cacheStorage)

	- App\Factories\SignInFormFactory

	- App\Factories\IGAFactory
	- App\Factories\IPartnersListFactory
	- App\Factories\ICalendarListFactory

	-
		implement: App\Factories\IGalleryPhotosListFactory
		parameters: [galleryId]
		arguments: [%galleryId%]

	-
		implement: App\Factories\IGalleriesListFactory
		parameters: [offerId]
		arguments: [%offerId%]

	- App\Factories\IDiscussionListFactory

	- App\Factories\ChangePasswordFormFactory
	- App\Factories\ManageAboutFormFactory
	- App\Factories\ManagePartnerFormFactory
	- App\Factories\ManageGalleryFormFactory
	- App\Factories\ManageGalleryPhotoFormFactory
	- App\Factories\ManageCalendarFormFactory
	- App\Factories\ManageOfferFormFactory
	- App\Factories\ManageDiscussionFormFactory
