services:
	nette.userStorage:
		setup:
			- setNamespace("kvintana")

	wlCssFilter: WebLoader\Filter\CssUrlsFilter(%wwwDir%)
	lessFilter: App\WebLoader\LessFilter
	router: @App\Factories\RouterFactory::create
	cacheStorage: Nette\Caching\Storages\FileStorage(%cacheDir%)
	authorizator: App\Services\Authorizator
	authenticator: App\Services\Authenticator
	hash: App\Services\HashService(%authentication.leadingSalt%, %authentication.trailingSalt%)

	- App\Services\TemplateHelper
	- App\Services\Mailer(%productionMode%, %mailer.from%, %mailer.developRecipients%, ...)

	- App\Database\ContextPool(%database%, @cacheStorage)

	- App\Services\ThumbnailService
	- App\Services\PhotoService
	- App\Services\ImageService
	- App\Services\ImageUploadService
	- App\Database\Entities\UserEntity
	- App\Database\Entities\PhotoEntity
	- App\Database\Entities\ThumbnailEntity
	- App\Database\Entities\LstThumbnailTpEntity
	- App\Database\Entities\AboutEntity
	- App\Database\Entities\DiscussionEntity
	
	-
		class: App\Database\Entities\GalleryEntity
		setup: [$isOrderable(true)]

	-
		class: App\Database\Entities\GalleryPhotoEntity
		setup: [$isOrderable(true)]

	- App\Database\Entities\OfferEntity
	
	-
		class: App\Database\Entities\PartnerEntity
		setup: [$isOrderable(true)]

	-
		class: App\Database\Entities\CalendarEntity
		setup: [$isOrderable(true)]
