{block title}O nás{/block}

{block text}
<h1>O nás</h1>

<p class="text-justify">Jsme skromná parta lidí, jejíž jádro tvoří manželé Viktor a Tereza Fialovi. Spojuje nás láska ke koním, historii a přírodě. Tvůrčím způsobem se snažíme o propojení těchto náklonností, což by nám samo o sobě mohlo stačit k osobnímu uspokojení, ale stejně jako dobrý kuchař se musí podělit o své skvělé pokrmy a odměnou jsou mu spokojená břicha strávníků, tak i my máme neodbytná nutkání nabídnout vám to nejlepší z našeho soudku zábavy i umění a věříme, že jsme vás už mnohokrát na svých cestách po hradech, městech a vesnicích rozesmáli i potěšili. Musíme jen doufat v to, že znovu odměníte každodenní usilovnou a pokornou dřinu nás a našich koní potleskem.</p>